<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<div>
  <% if current_user %>
    You have <%= pluralize(current_user.friends_count, "friend") %> on Facebook!
  <% end %>
</div>

<% if current_user %>
  <div>
    <table>
      <tr>
        <td colspan="2">This Month</td>
      </tr>
      <% current_user.friends_birthday[sanitize_month].each do |days| %>
        <% days.flatten.each do |d| %>
          <tr>
            <td><%= d["name"] %></td>
            <td><%= d["birthday"] %></td>
          </tr>
        <% end unless days.nil? %>
      <% end %>
      <tr>
        <td colspan="2"><%= display_month_with_increment(1) %></td>
      </tr>
      <% current_user.friends_birthday[sanitize_month(1)].each do |days| %>
        <% days.flatten.each do |d| %>
          <tr>
            <td><%= d["name"] %></td>
            <td><%= d["birthday"] %></td>
          </tr>
        <% end unless days.nil? %>
      <% end %>
      <tr>
      <td colspan="2"><%= display_month_with_increment(2) %></td>
      </tr>
      <% current_user.friends_birthday[sanitize_month(2)].each do |days| %>
        <% days.flatten.each do |d| %>
          <tr>
            <td><%= d["name"] %></td>
            <td><%= d["birthday"] %></td>
          </tr>
        <% end unless days.nil? %>
      <% end %>
    </table>
  </div>
<% end %>
